<!DOCTYPE html>
<html>
		<head> 
			<title> Animal Form </title> 
		</head> 

		<body>
			<form method="POST" action="/animal">
				<label for="name"> What is your spirit animal? </label>
				<input type="text" name="name" />
				<br />
				<label for="type"> Select Kind of Animal </label>
				<select name="type">
					<option value="panther"> Panther </option>
					<option value="dog"> Dog </option>
					<option value="phoenix"> Phoenix </option>
					<option value="panda"> Panda </option>
					<option value="frog"> Frog </option>
					<option value="eagle"> Eagle </option>
					<option value="lion"> Lion </option>
				</select>
				</br>
				<input type="submit" value="Summon!" />
			</form>
		</body>
</html>
