<!DOCTYPE html>
<html>
		<body>
			<form method="POST" action="/confirm">
				<label for="term">Search</label>
				<input type="text" name="term"/>
				<input type="submit" value="GO!"/>
			</form>
		</body>
</html>
